@import "mixin";
@import "tag";
@import "component";
@import "var";

@include comment(Ready);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

html,
body {
    min-height: 100vh;
}


@include comment("Layout");

body {
    @include displayFlex($direction: column, $wrap: nowrap, $align-items: normal);

    >header {
        div#logo {
            @include displayFlex($justify: flex-start);

            h1 {
                a {
                    display: block;
                    text-decoration: none;
                }
            }

            div#icon-menu {
                flex: auto;
                @include displayFlex($justify:flex-end, $wrap: nowrap);
            }

        }

        div#nav-wrapper {
            nav#nav-menu {

                ul {
                    @include displayFlex($justify: flex-start);

                }
                a {
                    display: block;
                }

            }

            form#nav-search {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    .content-container {
        flex: auto;
    }

}

@include comment("Typography");

body {

    >div.content-container {
        margin-bottom: 1rem;
    }

    >header div#logo {
        h1 {
            a {
                background: $main-color;
                padding: 1rem;
                line-height: 1;
                color: white;
                box-shadow: -1rem -1rem $second-color;
            }
            margin-bottom: 0;
        }

        div#icon-menu {
            margin-left: 1rem;
        }
    }

    div#nav-wrapper {

        >* {
            animation: scale 0.7s ease-in-out;
        }

        nav#nav-menu {
            ul {
                & li:last-of-type a:hover {
                    border: none;
                }

                li {
                    padding: 0 1rem;
                }
            }
        }

        form#nav-search {
            padding: 1rem;

            input {
                width: 100%;
                padding: 1rem;
            }
        }

    }

}



@include minw(500) {
    @include comment('Layout 500');
    @include comment('Typography 500');

    body {
        >header {
            div#logo {
                h1 {
                    padding: 1rem 2rem;
                }

                div#icon-menu {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@include minw(700) {
    @include comment('Layout 700');

    body {
        >header {
            @include displayFlex($justify: flex-start);
            div#logo {
                h1 {
                    a {
                        display: block;
                    }
                }

                div#icon-menu {
                    display: none;
                }
            }

            div#nav-wrapper {
                flex: auto;
                @include displayFlex($justify: flex-start);

                nav#nav-menu {
                    flex: auto;
                    display: block;

                    ul {
                        @include displayFlex($justify: flex-start);
                    }
                }

                form#nav-search {
                    display: block;

                    &.active {
                        display: block;
                    }
                }
            }
        }
    }

    @include comment('Typography 700');

    body {
        >header {
            div#nav-wrapper {
                nav#nav-menu {
                    ul {
                        li {
                            padding: 0;

                            a {
                                padding: 1rem;
                            }
                        }
                    }
                }
                form#nav-search {
                    max-width: 300px;
                }
            }
        }
    }
}

@include minw(900) {
    @include comment('Layout 900');

    body {
        >header {
            @include displayFlex($justify: flex-start);

            div#nav-wrapper {
                flex: auto;
                @include displayFlex($justify: flex-start);

                nav#nav-menu {
                    flex: auto;
                    display: block;

                    ul {
                        @include displayFlex($justify: flex-start);

                        li {
                            a {
                                padding: 1rem;
                            }
                        }
                    }
                }

                form#nav-search {
                    display: block;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        main {
            @include displayFlex($align-items: normal, $wrap: nowrap);
        }
    }

    @include comment('Typography 900');

    body {
        padding: 0 calc(50% - 480px);
    }

}

@include minw(1200) {
    @include comment('Layout 900');

    @include comment('Typography 900');

    body {
        padding: 0 calc(50% - 600px);
    }

}