@mixin comment ($name){

    /*    #{$name} 
    --------------------------------------------------*/
}


@mixin minw ($media) {
    @media (min-width: $media/16+em) {
        @content;
    }
}

@mixin displayFlex($direction: row, $wrap: wrap, $justify: center, $align-items: center){
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align-items;
    justify-content: $justify;
}

@mixin decorateFont($variant: normal, $weight: 400, $size: 1rem, $line-height: 1.3,$color: #333) {
    font-variant: $variant; 
    font-weight: $weight;
    font-weight: $size;
    line-height: $line-height;
    color: $color;
}
    

@mixin fontSize ($level:1) {
    @if $level == 1 {          //h3
        font-size: 1.5rem;
    } @else  if $level == 2 {  //h2
        font-size: 2rem;
    } @else  if $level == 3 {  //h1
        font-size: 2.5rem;
    }   
    
}