@import "mixin";
@import "var";

//inline
a {
    text-decoration: none;
    color: #333;
    transition: all 1s;
    &:hover {
        color: $main-color;
    }

    &:active {
        color: $main-color;
    }
}


img {
    max-width: 100%;
}

label{
    display: inline-block;
    text-transform: uppercase;
}

input {
    display: inline-block;
    -webkit-appearance:none;
    border-radius: 0;
}

input[type=search] {
    text-transform: uppercase;	
    outline:none;
    border: none;
    border-bottom: 2px solid $second-color;
    transition: all .5s;

    @include fontSize(1);

    &:focus {
        @include fontSize(1);
        background: $second-color;
        color: $third-color;
    }
}


ul {
    list-style: none;
}


h1  {
    @include fontSize(3);
    padding: 1rem;
    margin-bottom: 1rem;
}

h2 {
    @include fontSize(2);
    margin-bottom: 1rem;
}

p  {
    padding: 1rem;
    margin-bottom: 1rem;
    @include decorateFont($size: 1rem, $weight: 500, $line-height: 1.5 );
}

