@import "basic";
@include comment(Layout);

main {
    > article {
        >header {
            @include displayFlex();
            margin: 1rem;
            background-color: rgba(black, .05);
            h1 {
                width: 100%;
                margin-bottom: 0rem;
            }
        }

        > article {
            padding: 1rem;
            background: lightblue;
            margin: 1rem;

            h2 {
                padding: 0rem 1rem;
                margin-bottom: 0rem;

            }
            
            p {
                margin-bottom: 0rem;
                font-size: 1.5rem;
            }

            p.info {
                font-size: 1rem;
                padding: 0rem 1rem;
            }
        }
    }
}
aside {
    figure {
        img {
            max-width: 80px;
        }
    }
}


@include comment(typography);

main {
    > article {
        >header {
            h1 {
                line-height: 1.1;
            }

        }

        div#sections-wrapper {
            section {
                margin: 1rem;

                h2 {
                    @extend %border-bottom;
                }

                ul {
                    li {
                        a {
                            padding: 1rem;
                        }
                    }
                }
            }

        }
    }

}

aside {
    section {
        margin: 1rem;

    }

    section#aside-info {
        padding: 1rem;
        @include displayFlex($direction: row, $wrap: nowrap);

        figure {
            text-align: center;
            padding: 1rem;
        }

        ul {
            padding: 1rem;
            a {
                @extend a;
            }
        }
    }


}


@include minw(500) {
    @include comment('layout 500');

    main {
        > article {
            div#sections-wrapper {
                @include displayFlex();

                section {
                    flex: auto;
                }

            }
        }
    }

    aside {
        section#aside-info {
            @include displayFlex($justify: flex-start);
            width: fit-content;
        }
    }

    @include comment('typography 500');

    aside {
        section#aside-info {
            padding: 2rem;

        }
    }

}

@include comment('layout 700');
@include minw(700) {
    main {
        > article {
            >header {
                @include displayFlex();
                min-height: 10vh;
            }
        }
    }

}
@include comment('typography 700');


@include minw(900) {
    @include comment('layout 900');

    .content-container {
        @include displayFlex($wrap: nowrap, $align-items: start);


        main {
            flex: auto;
            margin-right: 1rem;

            > article {
                flex: auto;
            }

        }

        aside {
            section#aside-info {
                display: block;
                min-width: 220px;

            }
        }

    }

    @include comment('typography 900');

    aside {
        section#aside-info {
            display: block;
            padding: 2rem 1rem;

            // min-width: 260x;

        }
    }
}