@import "mixin";
@import "tag";
@import "component";
@import "var";

@include comment(Ready);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    color: #333;
    text-rendering: optimizelegibility;
}

html, body {
    min-height: 100vh;
}


@include comment("Layout");
body {
    @include displayFlex($direction: column, $wrap: nowrap, $align-items: normal);
    >header {
        div#logo {
            display: flex;
            @include displayFlex($justify: flex-start);

            h1 {
                a {
                    display: block;
                }
            }
            div#icon-menu {
                flex: auto;
                @include displayFlex($justify:flex-end, $wrap: nowrap);

            }

        }

        div#nav-wrapper{ 
           nav#nav-menu{
               display: none;

               &.active {
                   display: block;
               }

                a {
                    display: block;
                }
               
           }  

           form#nav-search {
               display: none;

               &.active {
                    display: block;
               }

               input {
                    flex: auto;
                    // max-width: 70%;
               }
           }
        }
    }
    main { flex: auto;}
    
}

@include comment("Typography");
body {
    >header, main {
        margin-bottom: 1rem;
    }

    >header {
        div#logo {
            h1 {
                padding: 1rem 2rem;
                a {
                    background: $main-color;
                    padding: 1rem;
                    line-height: 1;
                    color: white;
                    box-shadow: -1rem -1rem  $second-color;
                }
            }

            div#icon-menu {
                margin-left: 1rem;
            }
        }

        div#nav-wrapper {
            nav#nav-menu{
                ul {
                    & li:last-of-type a:hover {
                        border: none;
                    }
                    li {
                        padding: 0 1rem;
                    }
                }
            }

            form#nav-search {
                padding: 1rem ;
                label {
                    @include decorateFont($weight:700);
                }

                input {
                    margin-left: 1rem;
                    width: 60%;
                }

            }
        }
    }
    
    
}

@include comment('Layout 500');
@include comment('Typography 500');

@include comment('Layout 700');
@include comment('Typography 700');

@include minw(900) {
    @include comment('Layout 900');
    body {
        main {
            @include displayFlex($align-items: norma, $wrap: nowrap);
        }
    }
    @include comment('Typography 900');
    body {
        padding: 0 calc(50% - 480px);
    }

}

@include minw(1200) {
    @include comment('Layout 900');

    @include comment('Typography 900');
    body {
        padding: 0 calc(50% - 600px);
    }

}