@import "basic";

@include comment(index);

@include comment(Layout);
aside {
   section {
       figure {
           img {
               max-width: 100px;
           }
       }

       ul {
           li {
               span {
                    display: inline-block;
                    width: 4rem;
               }
           }
       }
   }
}


@include comment(typography);

article {
    padding: 1rem 0;
    header {
        h1{
            @include fontSize(2);
            line-height: 1.3;
        }

        p {
            @include fontSize(1);
            line-height: 1.3;
        }
    }
    .article-sections {
       section {
           margin-bottom: 1rem;

           &:last-of-type {

              margin-bottom: 0;
           }
       }
   }
}

aside {
   section {
       box-shadow: 0 0 3px 3px rgba(black, .5);
       padding: 1rem;
       figure {
           text-align: center;
           img {
               max-width: 100px;
           }
       }

       ul {
           li {
               span {
                    width: 4rem;
                    text-align: center;
                    &::after {
                       content: attr(title);
                    }
               }
           }
       }
   }
}

@include comment('layout 500');
@include minw(500) {
    aside {
        section {
            @include displayFlex($wrap: nowrap);
            
            ul {
                flex: 1 1 auto;
            }

        }
    }
}

@include comment('typography 500');
@include minw(500) {
    aside {
        section {
            figure {
                img {
                    margin: 1rem;
                }
            }

            ul {
                padding-left: 1rem;
            }
        }
    }
}

@include comment('layout 700');
@include minw(700) { 
    article {
        flex: auto;
        .article-sections {
           @include displayFlex();
           section {
               flex: auto;
           }
       }
    }

    aside {
        section {
            max-width: 500px;
        }
    }
}

@include comment('typography 700');
@include minw(700) { 
    article {
        .article-sections {
           section {
               margin: 1rem;
               &:last-of-type {
                  margin-bottom: 1rem;
               }
           }
       }
    }
    aside {
        section {
            padding: 2rem 1rem;
        }
    }
}

@include comment('layout 900');
@include minw(900) { 
    aside {
        section {
            display: block;
            min-width: 330px;
        }
    }
}
@include comment('typography 900');
@include minw(900) { 
    article {
        padding: 1rem;
    }
    aside {
        padding: 1rem;
        section {
            padding: 1rem;
        }
    }
}